.list-item {
    display: flex;
    justify-content: space-between;
}
.todo-item .todo-tag {
    margin-left: 10px;
}
.todo-item .todo-name {
    display: inline-block;
    text-transform: capitalize;
}

.todo-form {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 5px;
}